<body>

<header>

    <div class="row">

        <div class="large-6 columns">

            <h1>Paul Tucker Music </h1>


        </div>


        <div class="large-6 columns">

            <div class="nav-bar right"><br>

                <ul class="button-group">

                    <li><a href="/"         class="small">&nbsp;&nbsp;Home     </a> </li>
                    <li><a href="/preludes" class="tiny ">&nbsp;&nbsp;Preludes </a> </li>
                    <li><a href="/studies"  class="tiny ">&nbsp;&nbsp;Studies  </a> </li>
                    <li><a href="/songs"    class="tiny ">&nbsp;&nbsp;Songs    </a> </li>
                    <li><a href="/films"    class="tiny ">&nbsp;&nbsp;Films    </a> </li>
                    <li><a href="/about"    class="tiny ">&nbsp;&nbsp;About    </a> </li>
                    <li><a href="/news"     class="tiny ">&nbsp;&nbsp;News     </a> </li>
                    <li><a href="/contact"  class="tiny ">&nbsp;&nbsp;Contact  </a> </li>

                </ul>



            </div>

        </div>

        <hr />


    </div>

</header>