<html>

<head>
    <title>UnoSpark |  Free Online Dating</title>
    <link rel="stylesheet" href="stylesheets/foundation.css">

    <meta charset="UTF-8">
    <meta name="description" content="UnoSpark Free Online Dating and matchmaking service - A brilliant free dating site for singles." />
    <meta name="keywords"    content="free online dating, dating, matchmaking,online dating,dating service,personals,matchmaker,personal ads,Free Online Dating, Dating, Free Dating Site, Free Singles Site, Online Dating" />
    <meta name="author"      content="Paul Manning">
    <meta property="og:site_name" content="UnoSpark | Free Online Dating"/>
    <meta property="og:type" content="website"/>
    <meta name="DC.subject" content="free online dating" />
    <meta name="DC.description" content="UnoSparkk Free Online Dating - A Brilliant free dating site for singles." />
    <meta name="DC.coverage" content="free online dating" />
    <meta name="DCTERMS.audience" content="online dating singles" />
    <meta name="DCTERMS.abstract" content="UnoSparkOk provides free online dating for singles and others 18 years and older." />
    <meta name="classification" content="Free Dating,dating, personals, free dating, online dating, singles, matchmaking, love, relationships" />
ß
    <script src="js/vendor/custom.modernizr.js">   </script>
    <script src="js/tracking.js">                  </script>

    <script src="http://cdn.thomascook.com/themes/cms/tcuk/js/optimost_global_body1.js"></script>
    <script src="http://cdn.thomascook.com/themes/cms/tcuk/js/optimost_global_head.js"></script>
</head>

<body>

    <div class="row">


        <div class="large-8 columns">

            <h1><span style='color: #FF66FF;'>Uno</span><span style='color: #6699FF;'>Spark</span></h1>
            <h3><small> One connection can change your world</small></h3>

        </div>

        <div class="large-4 columns">
            <p></p>
            <div class="nav-bar right">

                <ul class="button-group">

                    <li><a href="/"  class="tiny button"	    > &nbsp;&nbsp;Home </a></li>

             <!--       <li><a href="report" class="tiny button"	> &nbsp;&nbsp;Report </a></li>  -->


                </ul>

                <h3><small>100% Free On Line Dating</small></h3>

            </div>

        </div>

        <hr>

        <div class="large-6 columns">
            <img src="../img/couple4.png" />

            <article>
                <br>

                <p>
                    UnoSpark is completely and utterly and fantastically free.
             <br>
                Sign up today and find that special someone.
                </p>

            </article>

        </div>


        <div class="large-6 columns" />


            <div class="small-8 columns right">


                <form name="adduser" method="post" action="/adduser">

                <fieldset>
                    <legend><span> Sign Up</span></legend>
                <input type="text"     placeholder="NickName" required   name="nickName">
                <input type="email"    placeholder="Email"     required  name="email">
                <input type="password" placeholder="Password"  required  name="password">

                <input type="submit"  class="tiny button" value="Join">

                </fieldset>

                </form>

            </div>

        </div>



</div>

</body>

</html>


