{{> head }}

{{> header  }}



<div class="row">

    <div class="large-6 columns" role="content">
        <p>Paul Tucker is a composer/pianist currently teaching, performing and writing in West London. </p?

        <p>He first started playing the piano at the age of 7, thanks to his Grandfather’s musical influence.</p>
        <p>After obtaining all of the ABRSM piano grades, Paul proceeded to study for a BTEC in Performing Arts in Torquay,
            where he had the opportunity to write music for theatre productions such as Oedipus Rex, The Dark Tower and My
            Father He Ate Me, and The Divide in the Dergate Theatre in Northampton.</p>
        <p>
            From 1996 Paul studied under Gwendolyn Mok and Dr. Michael Schreider at the Royal Welsh College of Music and Drama
            where he also attended masterclasses by Evgenny Malinin (former head of keyboard at the Moscow Conservatoire) and
            Paul Roberts (head of keyboard at the Guildhall). He graduated in 1999 with a Licentiate Diploma in Piano Performance
            and then moved to London to continue his education. He studied under Nigel Clarke at the London College of Music and
            Media, and in November 2001 he was awarded a Masters degree in Composition for Film and TV.
        </p>




    </div>

    <div class="large-6 columns" role="content">

        <p>Since graduating, Paul has been teaching alongside Mrs. Shelagh Hunt and his former piano teacher Dr. Michael
            Schreider, in the North London Piano School. He has also entered and won many piano competitions in the Ealing,
            Richmond and Ruislip Music Festivals, and achieved the only prize awarded for the ABAC Premio Franz Liszt
            International Competition for Composers, held in Grottammare- Italy.
        </p>
        <p>Paul’s compositions vary greatly in style and mediums, include pieces for solo piano; chamber ensembles;
            music technology; full orchestral works (most of which are set to short films, from LCMM and LFS); theatre music;
            musicals; a cappella choral pieces and songs set to Pushkin Poems. For 7 years running now he has been writing music
            for prepared piano for dance projects in LAMDA.
        </p>

        <p>Paul is now preparing Studies for the Piano Vol.1 and Preludes for the Piano Vol.2.</p>

    </div>

</div>

{{> footer}}