{{> head }}

{{> header  }}



<div class="row">

    <div class="large-12 columns" role="content">

        <p>Paul is now preparing Studies for the Piano Vol.1 and Preludes for the Piano Vol.2.</p>
        <p>They are  planned to be released by the end of the year.</p
        <p>Please <a href="/contact"  class="tiny "> email </a> Paul for more details</p>
        </p>
        <p>You can see Paul play live every week at WestFields Shopping Centre in The Village
                between 4:30pm and 6:30pm.</p>

            <br><br><br><br><br><br><br><br><br><br><br><br>


    </div>
</div>

{{> footer}}


