{{> head }}

{{> header  }}



<div class="row">

    <div class="large-7 columns" role="content">

        <h4>Preludes for the Piano Vol.1<small> By Paul Tucker</small></h4>

        <audio controls><source src=".\audio\preludes\lost-loves.mp3"           type="audio/mpeg"></audio> E minor - Lost Loves<br>
        <audio controls><source src=".\audio\preludes\streams-of-ice.mp3"       type="audio/mpeg"></audio> Gb Major - Streams of Ice<br>
        <audio controls><source src=".\audio\preludes\nocturne.mp3"             type="audio/mpeg"></audio> F#minor - Nocturne<br>
        <audio controls><source src=".\audio\preludes\playing-in-the-snow.mp3"  type="audio/mpeg"></audio> C Major - Playing in the Snow<br>
        <audio controls><source src=".\audio\preludes\journey.mp3"              type="audio/mpeg"></audio> Eb Minor - Journey<br>
        <audio controls><source src=".\audio\preludes\mesmerised.mp3"           type="audio/mpeg"></audio> Eb Major - Mesmerised<br>
        <audio controls><source src=".\audio\preludes\nostalgia.mp3"            type="audio/mpeg"></audio> C# minor - Nostalgia<br>
        <audio controls><source src=".\audio\preludes\articulation.mp3"         type="audio/mpeg"></audio> C#minor - Articulation<br>
        <audio controls><source src=".\audio\preludes\double-thirds.mp3"        type="audio/mpeg"></audio> A Minor - Double Thirds<br>
        <audio controls><source src=".\audio\preludes\leaping.mp3"              type="audio/mpeg"></audio> D minor - Leaping<br>

    </div>

    <div class="large-5 columns" role="content">

        <img src="img/cover.jpg" alt="album" /> <br>
        <a href="http://paultuckermusic.bandcamp.com/album/preludes-for-the-piano-vol-1"
           target="_blank"></a>
        <br>
        <h5>
            <a  href="http://paultuckermusic.bandcamp.com/album/preludes-for-the-piano-vol-1"
                class="small round button" target="_blank">
                Download tracks</a>
        </h5>
    </div>

    <div class="large-12 columns" role="content">
        <br><br>

        <p>These Preludes were written between 1995 and 1999 on an old 1895 John Broadwood piano which was brought for me by
            my parents and Grandad. I was about 16 at the time and preparing for my grade 7 piano exam. When I should have been
            practising, I would find myself just noodling away on the piano and as a result, composing these pieces.
        </p>
        <p>Each new piece became more like ‘studies’ as I would base them on various difficulties I was trying to overcome
            in my grade pieces. The pieces are not in key order because of the random nature they came from, so I decided to put them in a chronological order.
        </p>

        <h5>Lost Loves in E minor</h5>
        <p>This title comes not from any personal experience; but from my time working on a play about the Brontë sisters.
            The play was written with my classmates during our time at South Devon College, and this piece of music was used to
            accompany a dance which featured in the play. One of the poems in the play was called Lost Loves and this is where
            the title of this composition came from. I thought this was a nice little title that fitted well to this piece .
        </p><p>
        <h5>Streams of Ice in Gb major</h5>
        <p>This piece only came about because of how shallow and light the keys of my John Broadwood were. With a fairly dry palm
            of the hand it was possible to slide effortlessly up and down the black keys creating, what I thought, was a fantastic
            wash of sound. When the high ‘pinging’ notes are played, for me, it gave an almost frozen sound, as if a river or
            something that would normally move fast and flowing was held exactly where it was for a moment by a sudden, deep cold.
            I could imagine then tiny, sparse droplets trickling from the ice which was slowly melting in the sun.
        </p>
        <h5>Nocturne in F# minor</h5>
        <p>This is one of my favourite pieces, mainly because I was more exploratory in the harmony. Also it differs greatly
            from the other compositions. I had been learning Chopin’s ‘C# minor Nocturne Op. post BI 49’ at the time and I think
            this Nocturne has a similar atmospheric quality.
        </p>

        <h5>Journey in Eb minor</h5>
        <p>This piece was inspired by Chopin’s, ‘Eb minor Etude Op.10 No. 6.’ People often ask me why I wrote it in Eb minor.
            The simple answer is that it sits better under the hands but also that there is just something about that particular key.
            It has a certain, special quality that you cannot really explain, meaning the piece would not really work in E minor as
            it is often suggested. The B section was almost going to be an entirely new piece but I thought it worked so well within
            this Prelude that I decided to keep it.
        </p>

        <h5>Playing in the Snow in C major</h5>
        <p>I gave this piece its title after a friend of mine said the melody sounded like someone could be singing “child-ren
            play-ing in the snow”. And so, simply ‘Playing in the Snow’ just stuck.</p>

        <h5>Mesmerised in Eb major</h5>
        <p>
            This piece is the closest to being some form of a ‘study’. The synchronisation of the hands is crucial, with the
            focus on the right hand figure and even more so - on the upper melody which must be more prominent than everything
            else below it.
        </p>

        <h5>Nostalgia in C# minor</h5>
        <p>
            The challenge with this piece is to keep the primary semiquaver melody as even as possible, while playing the
            secondary melody which lies underneath, at the same level. However, they should still standout independently because
            of the nature of the parts.In the middle section the left hand needs to achieve the sound resembling a distant
            memory, so really take your time here. When it comes back with the secondary melody on top, favour that upper part
            and use the left hand to keep the momentum.
        </p>

        <h5>Articulation in C# minor</h5>
        <p>
            This piece I think works well as dry as possible so that all the notes are clearly articulated, that is,
            if you are treating it as a study. However, musically speaking, pedalling sparingly widens the sound making
            it more aggressive but it is of course possible to overdo it.
        </p>

        <h5>Double Thirds in A minor</h5>
        <p>
            The fact that this piece does not really have a more imaginative title (only because I was unable to come up with
            anything appropriate) gives it a form of a study of overcoming the technical challenge of playing double 3rds and
            6ths. As well as this, the first and last note of each of the demi-semi-quaver patterns needs to try and follow
            some kind of line or melody. Leaning slightly on each of these notes and detaching ever so slightly the 3rds and
            6ths with a lighter touch should make the melody clearer. As well as this, there is much stronger melody in the
            left hand that must sing out with the right hand’s inner part.
        </p>

        <h5>Leaping in D minor</h5>
        <p>
            This piece was inspired by my learning of Franz Liszt’s, La Campanella. The title came from turning the obvious
            challenge of jumping between intervals larger than an octave into a study for both hands. ‘Leaping’ is based on
            overcoming these challenges. Instead of the melody being only in the lower part, I thought I would make the
            challenge greater by having an independent melody in the upper part of the right hand and the upper part of the
            left hand. The simultaneous melodies are to be played clearly and brought out as best you can whilst you remain very
            careful with the pedalling.
        </p>
    </div>
</div>


{{> footer}}


