{{> head }}

{{> header  }}



<div class="row">

    <div class="large-12 columns" role="content">

        <h4>Songs<small> By Paul Tucker</small></h4>

        <audio controls><source src=".\audio\postludes\happy.m4a"              type="audio/mpeg"></audio> So That Was Happiness<br>
        <audio controls><source src=".\audio\postludes\night.m4a"              type="audio/mpeg"></audio> Night<br>
        <audio controls><source src=".\audio\postludes\bronte.mp3"             type="audio/mpeg"></audio> Bronte<br>
        <audio controls><source src=".\audio\postludes\death-anne-bronte.mp3"  type="audio/mpeg"></audio> Death Of Anne Bronte<br>
        <audio controls><source src=".\audio\postludes\master-horror.mp3"     type="audio/mpeg"></audio> Master Horror<br>
        <audio controls><source src=".\audio\postludes\my-lost-soul.mp3"      type="audio/mpeg"></audio> My Lost Soul<br>



    </div>
</div>


{{> footer}}


