{{> head }}

{{> header  }}



<div class="row">

    <div class="large-12 columns" role="content">

        <h4>Studies<small> By Paul Tucker</small></h4>


        <audio controls><source src=".\audio\postludes\immediate-thought.mp3"  type="audio/mpeg"></audio> Immediate Thought<br>

    </div>


    <div class="large-12 columns" role="content">
        <br><br>



    </div>
</div>


{{> footer}}


