<article>

    <p>The internet makes it so easy to communicate and connect with like minded people from around the world.
        When we want to explore new friendships and potential romance it is now quite easy to find people with
        the same interests as us and who want to gather socially.</p>

    <p>We noticed that there are thousands of dating sites where it is free to join but as soon as you try to contact
        anyone, you are asked for your credit card detail. Unospark will always be free to contact whoever you want.</p>

</article>