<article>

<p>Hi {{ nickName }},

<p>Thank you for signing up to UnoSpark.
<br>
Now the odds will always be in your favour.
</p>


<p>An email has been sent to {{email}}.

Please reply to confirm your free membership. </p>

<small>(Check your spam folder if email not found in your inbox) </small>
