<form name="feedBack" method="post" action="/contact_success">

    <fieldset>

        <legend><span> Contact</span></legend>

        <input type="text"     placeholder="Name"     required name="name">
        <input type="email"    placeholder="Email"    required name="email">
        <label>Questions/Comments</label>

        <TEXTAREA placeholder="comments" ROWS="5" COLS="35" NAME="comments">

        </TEXTAREA>

        <input type="submit"  class="large button" value="send">

    </fieldset>

</form>